@use "./variables.scss" as *;


$colors: (
  "h1": $depth1,
  "h2": $depth2,
  "h3": $depth3,
  "h4": $depth4,
  "h5": $depth5,
  "h6": $depth6
);

@each $header, $color in $colors {
  article.popover-hint #{$header} {
    color: $color;

    & span.math.math-inline span.katex {
      color: $color;
    }
  }
  
  article.popover-hint strong[depth="#{str-slice($header, 2)}"] {
    color: $color;

    & span.math.math-inline span.katex {
      color: $color;
    }
  }
}

h1.page-title a {
  color: $depth1;
}

article.popover-hint table {
  margin-left: auto;
  margin-right: auto;
}

.page > #quartz-body .sidebar.left {
  width: $sidePanelWidth+50;
}

/* 
-
TABLE OF CONTENTS THEMEING
-
*/

button#toc {
  & > h3 {
    color: $depth3;

  }

  & > svg.fold[stroke-linejoin="round"] {
    color: $depth3;
  }
}

#toc-content {
  @for $i from 0 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});
      & > a {
        @if $i == 0 {
          color: $depth2;
        } @else if $i == 1 {
          color: $depth3;
        } @else if $i == 2 {
          color: $depth4;
        } @else if $i == 3 {
          color: $depth5;
        } @else if $i >= 4 {
          color: $depth6;
        }
      }
    }
  }
}

/* 
-
EXPLORER THEMEING
NOTE: YOU HAVE TO USE CUSTOM EXPLORER NODE; IF NOT DELETE #explorer-content BLOCK
-
*/

button#explorer[data-behavior="collapse"][data-savestate="true"] {
    color: $depth3;

    & h1 {
      color: $depth3;
    }
}

#explorer-content {
    @for $i from 0 through 6 {
        & .depth-#{$i} > div > .folder-container {
            & > div > button > .folder-title, & > svg {
                @if $i <= 1 {
                    color: $depth2;
                } @else if $i == 2 {
                    color: $depth3;
                } @else if $i == 3 {
                    color: $depth4;
                } @else if $i == 4 {
                    color: $depth5;
                } @else if $i >= 5 {
                    color: $depth6;
                }
            }
        }
    }
}