$pageWidth: 750px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1200px;
$sidePanelWidth: 350px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;

$depth1: #cc241d;
$depth2: #d65d0e;
$depth3: #d79921;
$depth4: #98971a;
$depth5: #458588;
$depth6: #b16286;

$aqua: #68926a;

$dark0: #32302f;
$dark2: #504985;
$dark3: #665c54;
$dark4: #7c6f64;